<div class="container">
  <div class="p-3 row">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Project Name</span>
      </div>
      <input type="text" maxlength="20" [(ngModel)]="newProject.name" class="form-control" placeholder="Name" aria-label="Project Name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Short description</span>
      </div>
      <textarea maxlength="500" [(ngModel)]="newProject.shortInfo" class="form-control" aria-label="Short description"></textarea>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Detailed description</span>
      </div>
      <textarea class="form-control" [(ngModel)]="newProject.text" aria-label="Short description"></textarea>
    </div>

  </div>

  <!--Images-->
  <div class="border border-primary rounded col text-center p-2">
    <div class="row col text-center">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let image of newProject.images;">
          <img src="{{image.url}}" class="img-thumbnail">
          <div>{{image.imageName}}</div>
          <input type="text" [(ngModel)]="image.imageDescription" maxlength="100" placeholder="Image Description" aria-label="Project Name">
        </li>
      </ul>
    </div>

    <div class="col text-center p-2">
      <button type="button" class="p-2 btn btn-dark" (click)="imageSelect.click()">Add Image</button>
      <input
        style="display: none"
        type="file"
        (change)="addImage($event)"
        #imageSelect>
    </div>
  </div>

  <!--Files-->
  <div class="border border-secondary rounded col text-center p-2">
    <div class="row col text-center">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let file of newProject.files;">
          <svg class="bi bi-file-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V8h-1v5a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1h5V1z"/>
            <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 4.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          </svg>
          <div>{{file.fileName}}</div>
          <input type="text" [(ngModel)]="file.fileDescription" maxlength="100" placeholder="File Description" aria-label="File Description">
        </li>
      </ul>
    </div>

    <div class="col text-center p-2">
      <button type="button" class="p-2 btn btn-dark" (click)="fileSelect.click()">Add File</button>
      <input
        style="display: none"
        type="file"
        (change)="addFile($event)"
        #fileSelect>
    </div>
  </div>

  <div class="p-3 row">

    <div class="p-2 col-5"></div>
    <div class="p-2 col-1">
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
    <div class="p-2 col-1">
      <button type="button" class="btn btn-primary" [disabled]="disableSave" (click)="save()">Save</button>
    </div>
    <div class="p-2 col-5"></div>

  </div>

</div>
